/* You can add global styles to this file, and also import other style files */
p {
    font-size: 22px;
    text-align: justify;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 25px;
}

.flex-container {
    display: flex;
}

a {
    color: black;
    text-decoration: none;
    border: solid black 1px;
    padding: 5px;
}

a.active {
    background-color: #e6e6e6;
}

ul {
    list-style-type: none;
}