<h1 class="welcome">Welcome to my page!</h1>
<hr>
<div class="flex-container">
    <div class="image-wrapper">
        <img src="/assets/images/face.png" alt="Évi's face">
    </div>
    <div class="intro">
        <h2>Introduction</h2>
        <p>
            I was born and attended primary school in a rural town called Makó,
            then graduated from high school in Szeged.
            I moved to Budapest to continue further education at Budapest University of Economic Sciences
            and Public Administration, where I earned a diploma as Master of International Relations
            and Economics in the special field of Foreign Affairs and Defence Economics.
        </p>
    </div>
</div>