<h1 class="welcome">Welcome to my page!</h1>
<div class="flex-container">
    <div class="image-wrapper">
        <img src="/assets/images/face.png" alt="Évi's face">
    </div>
    <div class="intro">
        <h2>Introduction</h2>
        <p>
            I was born and attended primary school in a rural town called Makó,
            then graduated from high school in Szeged.
            I moved to Budapest to continue further education at Budapest University of Economic Sciences
            and Public Administration, where I earned a diploma as Master of International Relations
            and Economics in the special field of Foreign Affairs and Defence Economics. 
            Then I joined the law enforcement sector and worked for the government as an officer 
            till autumn 2022.
        </p>
        <p>
            After serving my homeland for almost two decades, my interest turned in new 
            directions. I realized that I read the fresh news of science and technology 
            every day, and I wanted to do something that helps people move onward, or 
            they simply find it useful. I always had and currently still have an 
            attitude of creativity, curiosity, and eagerness to solve complex problems. 
            I searched for the intersection of these sets and came up with the idea of 
            learning IT.
        </p>
        <p>
            I have started on a small scale: I enrolled in a basic course at Green Fox 
            Academy that was organized for women. I found it interesting, so I sought 
            the possibility of learning more. I gave up my job and started to learn web 
            development at CodeCool. 
        </p>
        <P>
            During my studies, I got to know some programming languages (JavaScript, 
            TypeScript, C#, PHP) and both frontend (React, Angular) and backend (ASP.NET Core, 
            Express.js, Laravel) frameworks. I have earned experience with HTML, CSS, Git, 
            Docker, CI/CD, and deployment.
        </P>
        <p>
            At this moment, I am on a job hunt. I seek an opportunity to work for a 
            company that values diversity and needs employees with various backgrounds. 
            I can offer hard work, problem-solving skills, openness to continuous 
            learning and new technologies, and the ability to work as a team member.
        </p>
    </div>
</div>