.description {
    max-width: 80%;
}

hr {
    color: #595959;
}

li {
    margin-top: 50px;
}

.link{
    border: none;
    font-size: 20px;
}

h2 {
    padding-left: 40px;
}

.info {
    padding-left: 40px;
    color: #808080;
}

@media (max-width: 600px) {

    ul {
        display: block;
        width: 100%;
    }

  }